backend/logs
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*
backend/lerna-debug.log*
backend/node_modules
backend/dist
backend/dist-ssr
backend/*.local
backend/.vscode/*
backend/!.vscode/extensions.json
backend/.idea
backend/.DS_Store
backend/*.suo
backend/*.ntvs*
backend/*.njsproj
backend/*.sln
backend/*.sw?

doc.md

fontend/logs
fontend/*.log
fontend/npm-debug.log*
fontend/yarn-debug.log*
fontend/yarn-error.log*
fontend/pnpm-debug.log*
fontend/lerna-debug.log*
fontend/node_modules
fontend/dist
fontend/dist-ssr
fontend/*.local
fontend/.vscode/*
fontend/!.vscode/extensions.json
fontend/.idea
fontend/.DS_Store
fontend/*.suo
fontend/*.ntvs*
fontend/*.njsproj
fontend/*.sln
fontend/*.sw?
