@import "tailwindcss";

button {
  @apply cursor-pointer;

  &:hover {
    @apply opacity-70
  }

  &:focus {
    @apply border border-1 border-dotted
  }
}

body {
  @apply !bg-gray-900
}

input {
  @apply !bg-gray-950 text-white;
}

table thead tr th {
  position: sticky !important;
  top: 0;
  z-index: 10000;
  @apply bg-gray-950 text-red-500
}

table tr:nth-child(odd) {
  @apply !bg-gray-900
}

table tr:nth-child(even) {
  @apply !bg-gray-950
}